<style>
    .bg-color {
        color: #FFF;
        background-color: #37BC9B;
    }
</style>

<div class="container">
    <div class="row bg-color">
        <header class="col-xs-12"></header>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <leftnavigation></leftnavigation>
        </div>
        <div class="col-xs-9">
            <ng-view></ng-view>
        </div>
    </div>
    <div class="row">
        <footer class="col-xs-12 text-center">Footer</footer>
    </div>
</div>